@media only screen and (max-width: 375px) {
  @font-face {
    font-family: Gramatika Light;
    src: url(../fonts/15088.ttf);
  }
  @font-face {
    font-family: Gill Sans Nova Cn Heavy;
    src: url(../fonts/16071.ttf);
  }

  *{
    margin: 0;
    font-family: 'Gill Sans Nova Cn Heavy';
  }

  header{
    width: 100%;
    text-align: center;
  }
  .navigation{
    width: 100%;
    position: fixed;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, rgba(27,27,27,0), rgba(27,27,27,0), rgba(27,27,27,0), rgba(27,27,27,1), rgba(27,27,27,1));
  }
  .navigation_logo{
    padding-top: 5px;
    width: 30%;
    display: flex;
    margin-left: 20px;
  }
  .navigation_logo img{
    width: 200px;
  }

  /*---------------------------------------------------*/
  .navigation_group_mobile{
    padding-left: 0 20px 0 0;
    display: block;
    width: 48%;
  }
  .hide{
    display: none;
  }
  .menu{
    width: 100%;
  }
  .logo_menu{
    display: flex;
    justify-content: flex-end;
  }
  .logo_menu img{
    margin: 0 20px 0 0;
    filter: invert(100%);
  }
  ul{
    padding: 0;
  }
  li{
    color: white;
    list-style-type: none;
    margin: 5px 20px 5px 5px;
    font-size: 25px;
  }
  .elements_menu{
    display: block;
    position: relative;
    top: -300px;
    right: -200px;
    background-color: rgba(27,27,27,1);
    box-shadow: -15px 5px 15px 5px rgba(27,27,27,1);
    transition: .75s;
  }
  #menu_logo:checked~.elements_menu{
    display: block;
    top: 0px;
    right: 0px;
  }
  /*----------------------------------------------------*/

  .navigation_group{
    display: none;
  }
  .header{
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(28,28,28,1), rgba(28,28,28,0.3), rgba(28,28,28,1)), url('../img/contacts.jpg') center;
    background-size: cover;
  }
  .header h1{
    color: white;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    line-height: 400px;
    font-family: 'Gill Sans Nova Cn Heavy';
  }




  .container{
    width: 100%;
    padding: 50px 0px 50px 0px;
  }
  .contacts{
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts>div{
    width: 100%;
    border: solid 1px green;
    padding: 25px;
  }
  .address,
  .phone,
  .mail{
    margin-bottom: 30px;
  }

  .width{
    margin: 10px;
    width: 100%;
    text-align: center;
  }
  .contacts h3{
    font-size: 30px;
  }
  .contacts .address,
  .contacts .phone,
  .contacts .mail,
  .contacts .schedule{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }




  .social{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .social h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 40px 0 50px 0;
  }
  .social_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
  }
  .twitter,
  .facebook{
    margin-bottom: 30px;
  }
  .social_list h3{
    width: 100%;
  }
  .social_list>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: solid 1px green;
    padding: 20px 16px 20px 16px;
  }




  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, rgba(28,28,28,1), rgba(28,28,28,0.5), rgba(28,28,28,1)), url('../img/contacts.jpg') center;
    background-size: cover;
  }
  .nav{
    width: 40%;
    margin: 0 0 10px 0;
  }
  footer ul{
    width: 100%;
    text-align: center;
  }
  .inline .number{
    display: none;
  }
  .phone_number{
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
  }
  .inline li{
    font-size: 25px;
    margin-right: 10px;
  }
  footer img{
    margin: 20px 0 0 0;
    width: 200px;
  }
  li>a{
    text-decoration: none;
    color: white;
  }
}
