@media only screen and (max-width: 600px) {
  @font-face {
    font-family: Gramatika Light;
    src: url(../fonts/15088.ttf);
  }
  @font-face {
    font-family: Gill Sans Nova Cn Heavy;
    src: url(../fonts/16071.ttf);
  }

  *{
    margin: 0;
    font-family: 'Gill Sans Nova Cn Heavy';
  }
  header{
    width: 100%;
    text-align: center;
  }
  .navigation{
    width: 100%;
    position: fixed;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, rgba(27,27,27,0), rgba(27,27,27,0), rgba(27,27,27,0), rgba(27,27,27,1), rgba(27,27,27,1));
  }
  .navigation_logo{
    padding-top: 5px;
    width: 30%;
    display: flex;
    margin-left: 50px;
  }

  /*---------------------------------------------------*/
  .navigation_group_mobile{
    padding-left: 0 30px 0 0;
    display: block;
    width: 48%;
  }
  .hide{
    display: none;
  }
  .menu{
    width: 100%;
  }
  .logo_menu{
    display: flex;
    justify-content: flex-end;
  }
  .logo_menu img{
    margin: 0 50px 0 0;
    filter: invert(100%);
  }
  ul{
    padding: 0;
  }
  li{
    color: white;
    list-style-type: none;
    margin: 5px 50px 5px 5px;
    font-size: 25px;
  }
  .elements_menu{
    display: block;
    position: relative;
    top: -300px;
    right: -200px;
    background-color: rgba(27,27,27,1);
    box-shadow: -15px 5px 15px 5px rgba(27,27,27,1);
    transition: .75s;
  }
  #menu_logo:checked~.elements_menu{
    display: block;
    top: 0px;
    right: 0px;
  }
  /*----------------------------------------------------*/

  .navigation_group{
    display: none;
  }
  .header{
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(28,28,28,1), rgba(28,28,28,0.8), rgba(28,28,28,1)), url('../img/web.jpg') center;
    background-size: cover;
  }
  .header h1{
    color: white;
    font-weight: 800;
    font-size: 80px;
    text-align: center;
    line-height: 400px;
  }




  .content{
    padding: 0 50px 0 50px;
  }
  section{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
    margin-bottom: 40px;
  }
  .number{
    display: none;
  }
  h2{
    color: #2F4F4F;
    margin-bottom: 10px;
    font-size: 40px;
  }
  span{
    font-size: 30px;
    font-weight: normal;
  }
  .text{
    width: 100%;
    line-height: 1.3;
    font-size: 20px;
    text-align: justify;
  }



  .site_list,
  .app_list,
  .progects_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .lending,
  .shop,
  .commerce,
  .application,
  .progect{
    background-color: white;
    text-align: center;
    width: 100%;
    border: solid 1px black;
    padding: 20px 20px 30px 20px;
    margin: 30px 0 0 0;
    font-size: 18px;
  }
  .site_list h3,
  .app_list h3,
  .progects_list h3{
    font-size: 35px;
    color: #2F4F4F;
  }
  .site_list p,
  .app_list p,
  .progects_list p{
    border-top: solid 1px gray;
    padding: 25px 0 25px 0;
  }
  .site_list .price,
  .app_list .price,
  .progects_list .price{
    font-size: 25px;
    border: none;
  }
  .lending p:nth-child(5),
  .shop p:nth-child(5),
  .commerce p:nth-child(5),
  .application p:nth-child(5),
  .progect p:nth-child(5){
    border-bottom: solid 1px gray;
  }
  .app_img,
  .progect_img{
    display: none;
  }



  .technologу_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .html,
  .css,
  .js,
  .kotlin,
  .php,
  .swift,
  .less,
  .sass,
  .laravel,
  .mysql,
  .ui,
  .vue_js{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
  }
  .technologу_list h3{
    text-align: left;
    font-size: 30px;
    width: 100%;
  }
  .html_logo,
  .css_logo,
  .js_logo,
  .kotlin_logo,
  .php_logo,
  .swift_logo,
  .less_logo,
  .sass_logo,
  .laravel_logo,
  .mysql_logo,
  .ui_logo,
  .vue_js_logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .html_text,
  .css_text,
  .js_text,
  .kotlin_text,
  .php_text,
  .swift_text,
  .less_text,
  .sass_text,
  .laravel_text,
  .mysql_text,
  .ui_text,
  .vue_js_text{
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
  }




  .discuss{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .discuss p{
    font-size: 20px;
  }
  .discuss_input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .discuss_progect{
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .input_progect{
    width: 50%;
    justify-content: center;
    width: 50%;
  }
  .input_coments{
    width: 50%;
  }
  .input_progect input{
    width: 80%;
  }
  .input_coments input{
    width: 100%;
    height: 125px;
  }
  .red{
    color: red;
    font-size: 20px;
    margin-right: 10px;
  }
  .button{
    margin-top: 30px;
    font-size: 20px;
    padding: 15px 20px 20px 20px;
  }
  .discuss_img{
    display: none;
  }



  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(28,28,28,1), rgba(28,28,28,0.8), rgba(28,28,28,1)), url('../img/web.jpg') center;
    background-size: cover;
  }
  .nav{
    width: 100%;
  }
  footer ul{
    width: 100%;
    text-align: center;
  }
  .inline .number{
    display: none;
  }
  .phone_number{
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
  }
  .inline li{
    display: inline;
    font-size: 20px;
    margin-right: 10px;
  }
  li>a{
    text-decoration: none;
    color: white;
  }
}
